Repository boostercloud/booster, pull requests merged in 2021-05, with the labels that each got.

#785 New graphql schema
  .github/ISSUE_TEMPLATE/bug_report.md
  docs/chapters/02_getting-started.md
  docs/chapters/03_booster-architecture.md
  package-lock.json
  package.json
  packages/cli/src/templates/project/package-json.ts
  packages/cli/src/templates/project/tsconfig-json.ts
  packages/cli/test/fixtures/mock_project/package.json
  packages/cli/test/fixtures/mock_project/tsconfig.json
  packages/cli/test/fixtures/mock_project_bad_index/tsconfig.json
  packages/framework-core/package.json
  packages/framework-core/src/decorators/metadata.ts
  packages/framework-core/src/services/graphql/common.ts
  packages/framework-core/src/services/graphql/graphql-generator.ts
  packages/framework-core/src/services/graphql/graphql-query-generator.ts
  packages/framework-core/src/services/graphql/graphql-subcriptions-generator.ts
  packages/framework-core/src/services/graphql/graphql-type-informer.ts
  packages/framework-core/src/services/pub-sub/read-model-pub-sub.ts
  packages/framework-core/test/decorators/read-model.test.ts
  packages/framework-core/test/services/graphql/graphql-generator.test.ts
  packages/framework-core/test/services/graphql/graphql-query-generator.test.ts
  packages/framework-core/test/services/graphql/graphql-type-informer.test.ts
  packages/framework-core/tsconfig.json
  packages/framework-integration-tests/integration/end-to-end/cart.integration.ts
  packages/framework-integration-tests/integration/end-to-end/entities.integration.ts
  packages/framework-integration-tests/integration/end-to-end/read-models.integration.ts
  packages/framework-integration-tests/integration/end-to-end/subscriptions.integration.ts
  packages/framework-integration-tests/integration/fixtures/cart-demo/package.json
  packages/framework-integration-tests/integration/fixtures/cart-demo/tsconfig.json
  packages/framework-integration-tests/package.json
  packages/framework-integration-tests/src/common/address.ts
  packages/framework-integration-tests/src/common/cart-item.ts
  packages/framework-integration-tests/src/common/money.ts
  packages/framework-integration-tests/src/common/sku.ts
  packages/framework-integration-tests/src/read-models/cart-read-model.ts
  packages/framework-integration-tests/src/read-models/products-by-sku.ts
  packages/framework-integration-tests/tsconfig.json
  packages/framework-provider-aws/src/library/read-models-searcher-adapter.ts
  packages/framework-provider-aws/test/library/read-models-searcher-adapter.test.ts
  packages/framework-provider-azure/src/library/searcher-adapter.ts
  packages/framework-provider-azure/test/library/searcher-adapter.test.ts
  packages/framework-provider-kubernetes/package.json
  packages/framework-types/package.json
  packages/framework-types/src/concepts/command.ts
  packages/framework-types/src/concepts/read-model.ts
  packages/framework-types/src/searcher.ts
  packages/framework-types/src/typelevel.ts
Labels: enhancement, package: core, refactor, size: L

#830 Fix node 16 bug at deployment
  .github/workflows/integration-tests.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
  docs/chapters/02_getting-started.md
  package-lock.json
  packages/cli/src/common/sandbox.ts
  packages/cli/test/common/sandbox.test.ts
  packages/framework-core/src/booster-token-verifier.ts
  packages/framework-integration-tests/integration/helper/file-helper.ts
  packages/framework-integration-tests/package.json
  packages/framework-provider-aws-infrastructure/package.json
  packages/framework-provider-aws-infrastructure/src/infrastructure/params.ts
  packages/framework-provider-aws/package.json
  packages/framework-provider-aws/test/index.test.ts
  packages/framework-provider-azure-infrastructure/src/infrastructure/arm-templates/function-app.ts
  packages/framework-types/src/config.ts
Labels: bug

#840 Local provider GraphQL filters compatibility
  packages/framework-provider-local/src/library/read-model-adapter.ts
  packages/framework-provider-local/src/library/searcher-adapter.ts
  packages/framework-provider-local/test/library/read-model-adapter.test.ts
  packages/framework-provider-local/test/library/searcher-adapter.test.ts
Labels: enhancement, local provider

#843 docs: Add AskMe example video
  docs/chapters/02_getting-started.md
Labels: documentation
