Repository boostercloud/booster, pull requests merged in 2022-11, with the labels that each got.

#1209 fix(docs): Fix readme file badges
  README.md
Labels: hacktoberfest-accepted

#1237 Integration PR for #1173
  common/changes/@boostercloud/framework-core/integration-1173_2022-11-18-09-54.json
  packages/framework-core/src/booster-read-models-reader.ts
  packages/framework-core/test/booster-read-model-reader.test.ts
Labels: priority: high, waiting merge: main

#1238 Integration PR for #1183
  common/changes/@boostercloud/framework-core/integration-1183_2022-11-18-13-40.json
  docs/chapters/04_features.md
  packages/framework-core/src/services/graphql/graphql-mutation-generator.ts
  packages/framework-core/src/services/graphql/graphql-type-informer.ts
  packages/framework-core/src/services/graphql/query-helpers/graphql-query-filter-arguments-builder.ts
  packages/framework-core/src/services/graphql/query-helpers/graphql-query-sort-builder.ts
  packages/framework-core/test/decorators/read-model.test.ts
  packages/framework-core/test/services/graphql/graphql-query-generator.test.ts
  packages/framework-core/test/services/graphql/graphql-type-informer.test.ts
  packages/framework-integration-tests/src/read-models/cart-read-model.ts
  packages/metadata-booster/src/metadata-extractors.ts
  packages/metadata-booster/src/metadata-types.ts
  packages/metadata-booster/src/statement-creators.ts
Labels: priority: high, missing: integration tests

#1233 Integration branch for Export DataMigrationEntity (#1172)
  .github/workflows/changes-check.yml
  .github/workflows/integration-tests.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  common/changes/@boostercloud/framework-core/integration-1172_2022-11-17-18-06.json
  common/config/rush/pnpm-lock.yaml
  packages/framework-core/src/index.ts
  packages/framework-integration-tests/src/read-models/data-migrations-read-model.ts
Labels: priority: high, missing: integration tests
